.avatar{
    width: 250px;
    height: 250px;
}

.cont{
    background-color: #1ABC9C !important;
    color: white !important;
}

h1{
    font-size: 62px;
}

.line{
    width: 80px;
    height: 5px;
    background-color: white;
}